In [1]:
import pandas as pd

In [2]:
lst_table = [
    [1,'apple','watch'],
    [2,'orange','soda'],
    [3,'banana','hammer'],
    [4,'kiwi','rodeo']
]

In [3]:
df = pd.DataFrame(lst_table)
df.columns = ['row_num','fruit','rand_word']
df.head()

   row_num   fruit rand_word
0        1   apple     watch
1        2  orange      soda
2        3  banana    hammer
3        4    kiwi     rodeo

In [27]:
df.sort_values(by='fruit', inplace=True)

In [25]:
df.sort_values(by=['row_num','rand_word'], inplace=True)

In [28]:
df

   row_num   fruit rand_word
0        1   apple     watch
2        3  banana    hammer
3        4    kiwi     rodeo
1        2  orange      soda