### dataset source:
https://data.world/data-society/imdb-5000-movie-dataset

In [20]:
import pandas as pd

In [21]:
movie_data = pd.read_csv('data/movie_metadata.csv')
movie_data.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [22]:
sorted(movie_data.columns)

['actor_1_facebook_likes',
 'actor_1_name',
 'actor_2_facebook_likes',
 'actor_2_name',
 'actor_3_facebook_likes',
 'actor_3_name',
 'aspect_ratio',
 'budget',
 'cast_total_facebook_likes',
 'color',
 'content_rating',
 'country',
 'director_facebook_likes',
 'director_name',
 'duration',
 'facenumber_in_poster',
 'genres',
 'gross',
 'imdb_score',
 'language',
 'movie_facebook_likes',
 'movie_imdb_link',
 'movie_title',
 'num_critic_for_reviews',
 'num_user_for_reviews',
 'num_voted_users',
 'plot_keywords',
 'title_year']

In [23]:
cols  = ['movie_title','actor_1_name','actor_2_name','actor_3_name']

In [24]:
movie_data[cols].head(3)

,movie_title,actor_1_name,actor_2_name,actor_3_name
0,Avatar,CCH Pounder,Joel David Moore,Wes Studi
1,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport
2,Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman

In [25]:
movie_data[cols].set_index('movie_title').head()

,actor_1_name,actor_2_name,actor_3_name
movie_title,,,
Avatar,CCH Pounder,Joel David Moore,Wes Studi
Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport
Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman
The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt
Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,NaN

In [26]:
movie_data[cols].set_index('movie_title').stack().head()

movie_title
Avatar                                     actor_1_name         CCH Pounder
                                           actor_2_name    Joel David Moore
                                           actor_3_name           Wes Studi
Pirates of the Caribbean: At World's End   actor_1_name         Johnny Depp
                                           actor_2_name       Orlando Bloom
dtype: object

In [27]:
movie_data[cols].set_index('movie_title').stack().reset_index().head()

                                 movie_title       level_1                 0
0                                    Avatar   actor_1_name       CCH Pounder
1                                    Avatar   actor_2_name  Joel David Moore
2                                    Avatar   actor_3_name         Wes Studi
3  Pirates of the Caribbean: At World's End   actor_1_name       Johnny Depp
4  Pirates of the Caribbean: At World's End   actor_2_name     Orlando Bloom

In [28]:
df = movie_data[cols].set_index('movie_title').stack().reset_index().head(10)

In [30]:
df.to_csv('filename.csv')