In [4]:
import pandas as pd

In [5]:
lst_of_lists = [
    [1,'apple','watch'],
    [2,'orange','soda'],
    [3,'banana','hammer'],
    [4,'kiwi','rodeo']
]

In [6]:
df = pd.DataFrame(lst_of_lists)
df.columns = ['rn','val01','val02']
df.head()

   rn   val01   val02
0   1   apple   watch
1   2  orange    soda
2   3  banana  hammer
3   4    kiwi   rodeo

In [12]:
v1 = df['val01'].tolist()
v1 = "','".join(map(str,v1))
v1

"apple','orange','banana','kiwi"

In [14]:
print(f"'{v1}'")

'apple','orange','banana','kiwi'